@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Serif', 'Times New Roman', serif;
    font-size: 16px;
}

header, main, footer {
    max-width: 700px;
}

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    background-color: #0076b5;
    color: #fff;
    border: 1px solid;
    margin: 1rem auto;
    padding: .5rem;
    border-radius: .5rem;
}

header img {
    width: 200px;
    height: auto;
    margin: 1rem;
}

h1 {
    font-family: 'Montserrat', Helvetica, sans-serif;
    justify-self: center;
    /* align-self: center; */
}

main {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin: 1.5rem auto;
}

ul {
    margin: 0 1.5em;
}

li {
    margin: .5em;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    background-color: #00476D;
    color: #fff;
    margin: 1rem auto;
    border-radius: .5rem;
}

footer p {
    margin-top: 1rem;
}

footer p:nth-child(2) {
    margin-top: 0;
    margin-bottom: 1rem;
}