* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Serif", "Times New Roman", serif;
  font-size: 16px;
}

p {
  padding: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", Helvetica, sans-serif;
  padding: 1rem;
}

header,
footer {
  max-width: 1000px;
  margin: 0 auto;
}

header img {
  width: 80px;
  height: auto;
  position: static;
  margin-bottom: 40px;
}

header {
  background-color: #f0ffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 5px 0;
  margin: 0 auto;
  position: relative;
}

.logo-box {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.headings {
  display: flex;
  flex-direction: column;
  margin-left: .5rem;
}

h1 {
  margin: 0;
  font-size: 1.1rem;
  position: absolute;
  top: 10px;
  left: 80px;
  color: #005b8c;
}

h1 span {
  display: block;
}

.social {
  margin-right: 1.5rem;
  display: flex;
}

nav button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

nav {
  background-color: #c51843;
  /* color: #fff; */
  display: block;
}

.navigation {
  display: block;
}

nav a {
  display: block;
  flex: 1 1 auto;
  overflow: hidden;
  text-align: left;
  text-decoration: none;
  padding: .75rem;
  font-size: 1.1rem;
  /* background: linear-gradient(90deg, transparent, #005b8c, transparent) bottom / var(--d, 0) 10px no-repeat; */
  transition: 0.5s;
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
  border-top: 1px solid;
}

nav a.icon {
  background: #005b8c;
  display: block;
  position: absolute;
  right: 0;
  top: 25px;
}

nav a:hover {
  /* background: linear-gradient(90deg, transparent, #005b8c, transparent) bottom / var(--d, 0) 10px no-repeat; */
  color: #fff;
  background-color: #005b8c;

}

span {
  font-weight: normal;
  font-size: 16px;
}

.social {
  margin-left: .2rem;
  position: absolute;
  right: 45px;
}

.social a {
  margin-left: 5px;

}

.dateTracker {
  display: block;
  border: 1px solid;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: .5rem;
  padding: .5rem;
  background-color: #c51843;
  color: #fff;
}

#banner {
  margin: .5rem auto;
  border: 1px solid #005b8c;
  background-color: #005b8c;
  padding: 1rem;
  text-align: center;
  max-width: 900px;
  color: #fff;
}

#close {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: .5rem;
}

main {
  margin: 0 auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .5rem;
  max-width: 900px;
  text-align: center;
}

main section {
  width: 200px;
  height: 200px;
  border: 1px solid;
  background-color: #005b8c;
  color: #fff;
}

.hero {
  grid-row: 1;
  width: 100%;
  position: relative;
}

.hero img {
  width: 100%;
}

.event {
  grid-row: 2;
  width: 100%;
}

.weather {
  grid-row: 3;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.news {
  grid-row: 4;
  width: 100%;
}

.sport {
  grid-row: 5;
  width: 100%;
}

.sport section {
  display: block;
  width: 100%;
}

#sport3 {
  display: none;
}


.join {
  display: none;
  width: 100%;
  background-color: #005b8c;
  color: #fff;
}


.news p {
  padding: .5rem;
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  text-align: center;
  background-color: #00476d2c;
  color: #005b8c;
  margin: 1rem auto;
  border-radius: 0 0 0.5rem 0.5rem;
}

footer p {
  padding: .5rem;
}

footer .address a {
  text-decoration: none;
  color: #005b8c;
}

footer address span {
  display: block;
}

button {
  padding: 1rem;
  border-radius: 10px;
}

button a {
  text-decoration: none;
  color: #fff;
}

#heroBtn {
  position: absolute;
  right: 10px;
  bottom: -75px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/***************************** dicover page css *****************************/
#content {
  display: grid;
  grid-template-columns: 1fr;
  /* max-width: 700px; */
  /* margin: 0 auto; */
}

#content section {
  width: 100%;
  height: fit-content;
  background-color: transparent;
  color: #000;
  border: none;
}

.stats {
  grid-column: 1;
  grid-row: 1;
}

.population {
  grid-column: 1;
  grid-row: 2;
}

.climate {
  grid-column: 1;
  grid-row: 3;
}

#gallery {
  grid-column: 1;
  grid-row: 4 / 7;
}

/******************* styles for the join page ****************/
#join {
  background-color: #f1f5f8;
}

form {
  grid-column: 1;
  padding: 1rem;
}

.form-box {
  display: flex;
  flex-direction: column;
  padding: .5rem 0;
}

input {
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  /* color: #f5f5f5; */
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

label {
  text-align: left;
  margin-left: 0.5rem;
}

.form-box label {
  flex-grow: 0;
  flex-shrink: 0;
}

.form-box input,
.form-box textarea {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.form-box textarea {
  flex-basis: auto;
  padding: 1rem;
}

::placeholder,
label {
  padding: .3rem;
}


.btn {
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
  border-radius: 3px;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  background-color: #c51843;
  border: none;
  border-bottom: 5px solid #660033;
  text-shadow: 0px -2px #660033;
  transition: all 0.1s;
}

.btn:hover,
.btn:active {
  transform: translate(0px, 5px);
  border-bottom: 1px solid #c51843;
}

/************************** styles for the thank you page *************************/
.card {
  grid-column: 1;
  max-width: 600px;
  height: min-content;
  transition: all .3s;
  position: relative;
  border-radius: .5rem 2rem;
  box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.card:hover {
  transform: scale(1.03);
}

.img {
  transition: all .3s;
  background: #ff0084;
  background: linear-gradient(to right, #33001b, #ff0084);
  width: 100%;
  color: #ffff;
}

.img-container {
  display: grid;
  border-radius: .5rem 2rem;
  height: 270px;
  overflow: hidden;
}

.img p {
  padding: 6rem;
  text-align: center;
}

.description {
  position: absolute;
  bottom: .5rem;
  left: .5rem;
  text-align: start;
  padding: .5rem 1em;
  width: 90%;
  transition: all 0.5s ease;
  text-overflow: ellipsis;
  white-space: nowrap;
  backdrop-filter: blur(.1rem);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: .5rem 2rem;
}

.description:hover {
  transform: perspective(100px) translateX(7px) rotateX(3deg) rotateY(3deg) scale(1);
  box-shadow: none;
}

.title {
  color: aliceblue;
}

/******************************** styles for business directory page ********************************/
.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  background-color: #f1f5f8;
  max-width: 950px;
}

main .cards img {
  width: 100%;
  padding: 1rem;
}

.cards p {
  padding: 0;
}

.cards p {
  padding-top: .5rem !important;
}

.cards a {
  padding: .5rem;
}

.cards section {
  background-color: #bed !important;
  color: #000;
  padding: 1rem;
  height: auto !important;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
  border-radius: .5rem;
}