@media only screen and (min-width: 60em) {
  header {
    display: flex;
  }

  h1 {
    font-size: 2rem;
    position: absolute;
    top: 0;
  }

  h1 span {
    position: static;
  }

  nav {
    display: flex;
    background-color: transparent;
  }

  .navigation {
    display: flex;
  }

  nav a {
    border: none;
    color: #c51843;
  }

  nav button {
    display: none;
  }

  nav a.icon {
    display: none;
  }

  .social {
    position: static;
    margin-right: 25px;
  }

  .dateTracker {
    position: absolute;
    right: 0;
    left: 0;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .event {
    grid-column: 1;
    grid-row: 1;
  }

  .hero {
    width: 480px;
    height: 410px;
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
  }

  #heroBtn {
    right: 10px;
    bottom: 90px;
  }

  .sport {
    display: block;
    grid-column: 4;
    grid-row: 1/4;
  }

  #sport3 {
    display: block;
  }

  .weather {
    grid-column: 1;
    grid-row: 2;
  }

  .join {
    display: block;
    grid-column: 1;
    grid-row: 3;
  }

  .news {
    width: 480px;
    grid-column: 2 / span 2;
    grid-row: 3;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
  }

  footer img {
    position: absolute;
    top: 20px;
  }

  footer h4 {
    grid-column: 2 / span 2;
    align-self: self-end;
    justify-self: left;
    padding-bottom: 0;
    margin-top: 20px;
  }

  footer address {
    grid-column: 2;
  }

  footer .address p:nth-child(1) {
    padding: 1rem;
    padding-bottom: 0;
  }

  footer .address p:nth-child(2) {
    padding-top: 0;
  }

  footer .address {
    grid-column: 4;
    grid-row: 1;
    position: absolute;
    right: 20px;
    margin-top: 20px;
  }

  footer .bottom {
    grid-column: 1/-1;
    grid-row: 3;
    padding: 1rem;
    margin-top: 3rem;
  }

  /******************* styles for the join page ****************/
  form {
    grid-column: 2/4;
  }

  /************************** styles for the thank you page *************************/
  .card {
    grid-column: 2/4;
  }
}