@media only screen and (min-width: 60em) {
  header {
    display: flex;
  }

  h1 {
    font-size: 2rem;
    position: absolute;
    top: 0;
  }

  h1 span {
    position: static;
  }

  nav {
    display: flex;
    background-color: transparent;
  }

  .navigation {
    display: flex;
  }

  nav a {
    border: none;
    color: #c51843;
  }

  nav button {
    display: none;
  }

  nav a.icon {
    display: none;
  }

  .social {
    position: static;
    margin-right: 25px;
  }

  .dateTracker {
    position: absolute;
    right: 0;
    left: 0;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .5rem;
  }

  .event {
    grid-column: 1;
    grid-row: 1;
  }

  .hero {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
  }

  #heroBtn {
    right: 10px;
  }

  .sport {
    display: block;
    grid-column: 4;
    grid-row: 1/4;
  }

  #sport3 {
    display: block;
  }

  .weather {
    grid-column: 1;
    grid-row: 2;
  }

  .join {
    display: block !important;
    grid-column: 1;
    grid-row: 3;
  }

  .news {
    width: 480px;
    grid-column: 2 / span 2;
    grid-row: 3;
  }

  footer .bottom {
    margin-top: 1rem;
  }

  /******************* styles for the join page ****************/
  form {
    grid-column: 2/4;
  }

  /************************** styles for the thank you page *************************/
  .card {
    grid-column: 2/4;
  }

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid {
    display: grid;
  }

  .grid section {
    flex-direction: column;
    text-align: center;
  }

  .grid section>* {
    margin: 0.1rem;
  }

  main .contact {
    grid-column: 1/-1;
  }
}