@media only screen and (min-width: 37.5em) {

    .social {
        margin-right: 70px;
        position: static;
    }

    .dateTracker {
        display: block;
        border: 1px solid;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    .hero {
        grid-column: 1/-1;
        grid-row: 1;
    }

    #heroBtn {
        right: 20px;
        bottom: -200px;
    }

    .news {
        grid-column: 1/-1;
        grid-row: 2;
    }

    .sport {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 1/-1;
        grid-row: 3;
    }

    .join {
        display: block;
        grid-column: 1/span2;
        grid-row: 4;
    }

    .event {
        grid-row: 5;
    }

    .weather {
        grid-column: 2;
        grid-row: 5;
    }

    #content {
        grid-template-columns: 1fr 1fr;
    }

    .stats {
        grid-column: 1/span 2;
        grid-row: 1;
    }

    .population {
        grid-column: 1;
        grid-row: 2;
    }

    .climate {
        grid-column: 1;
        /* grid-row: 3; */
    }

    #gallery {
        grid-column: 2;
        grid-row: 2 / 7;
    }

    #gallery section picture img:hover {
        width: 320px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
        transition: all 0.2s linear;
        ;
    }
}